In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import requests

In [ ]:
import json

In [ ]:
df = pd.read_csv("/content/서울시 지하철역 정보 검색 (역명).csv", encoding="CP949")

In [ ]:
df

    전철역코드     전철역명      호선  외부코드
0    0154     종로5가    01호선   129
1    0155      동대문    01호선   128
2    0156      신설동    01호선   126
3    0157      제기동    01호선   125
4    0158      청량리    01호선   124
..    ...      ...     ...   ...
743  4512  운동장.송담대   용인경전철  Y120
744  4513       고진   용인경전철  Y121
745  4514       보평   용인경전철  Y123
746  4515       둔전   용인경전철  Y125
747  4601       발곡  의정부경전철  U110

[748 rows x 4 columns]

In [ ]:
apikey = ""

In [ ]:
req_url = "https://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko"

In [ ]:
req_url+="&key="+apikey

In [ ]:
json.loads(response.text)['results'][0]['formatted_address']

'대한민국 서울특별시 종로구 종로5가 124-8'

In [ ]:
raw_response = []
for stn_line, stn_name in zip(df['호선'], df['전철역명']):
  if stn_line[0]=="0":
    raw_response.append( requests.get( req_url+"&address="+stn_line[1:]+"_"+stn_name ) )
  else:
    raw_response.append( requests.get( req_url+"&address="+stn_line+"_"+stn_name ) )

In [ ]:
json.loads(raw_response[0].text)

{'results': [{'address_components': [{'long_name': '１２４−８',
     'short_name': '１２４−８',
     'types': ['premise']},
    {'long_name': '종로5가',
     'short_name': '종로5가',
     'types': ['political', 'sublocality', 'sublocality_level_2']},
    {'long_name': '종로구',
     'short_name': '종로구',
     'types': ['political', 'sublocality', 'sublocality_level_1']},
    {'long_name': '서울특별시',
     'short_name': '서울특별시',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': '대한민국',
     'short_name': 'KR',
     'types': ['country', 'political']},
    {'long_name': '110-125',
     'short_name': '110-125',
     'types': ['postal_code']}],
   'formatted_address': '대한민국 서울특별시 종로구 종로5가 124-8',
   'geometry': {'location': {'lat': 37.57083069999999, 'lng': 127.0023506},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 37.57217968029149,
      'lng': 127.0036995802915},
     'southwest': {'lat': 37.5694817197085, 'lng': 127.0010016197085}}},
   'place_id': 'ChIJ7yghWCGjfDURt1pv7Oh_t6k',
   'plus_code': {'compound_code': 'H2C2+8W 대한민국 서울특별시',
    'global_code': '8Q99H2C2+8W'},
   'types': ['establishment',
    'local_government_office',
    'point_of_interest']}],
 'status': 'OK'}

In [ ]:
json.loads(raw_response[0].text)['results'][0]['geometry']

{'location': {'lat': 37.57083069999999, 'lng': 127.0023506},
 'location_type': 'ROOFTOP',
 'viewport': {'northeast': {'lat': 37.57217968029149,
   'lng': 127.0036995802915},
  'southwest': {'lat': 37.5694817197085, 'lng': 127.0010016197085}}}

In [ ]:
json.loads(raw_response[0].text)['results'][0]['geometry']['location']

{'lat': 37.57083069999999, 'lng': 127.0023506}

In [ ]:
lat_list = []
lng_list = []
i=0
for response in raw_response:
  try:
    i+=1
    lat_list.append(json.loads(response.text)['results'][0]['geometry']['location']['lat'])
    lng_list.append(json.loads(response.text)['results'][0]['geometry']['location']['lng'])
  except:
    lat_list.append(0)
    lng_list.append(0)

In [ ]:
raw_response[1].text

'{\n   "results" : [],\n   "status" : "ZERO_RESULTS"\n}\n'

In [ ]:
df['lat'] = lat_list
df['lng'] = lng_list

In [ ]:
df.to_excel("역+위도경도.xlsx")