In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
col1 = []
col2 = []
col3 = []
col4 = []

file = '/content/drive/MyDrive/11_2019년_세대구성별가구.txt'
f = open(file, 'r')
line = f.readline()

while True:

    line = f.readline()
    if not line: 
      break

    if "ga_sd_005" not in line :
      continue
    l = line.split('^')
    col1.append(l[0])
    col2.append(l[1])
    col3.append(l[2])
    col4.append(l[3])

f.close()

In [25]:
for i in range(len(col4)) :
  if col4[i] == 'N/A\n' or col4[i] == 'N/A' :
      col4[i] = '2.5'
  
  col4[i] = float(col4[i])

In [33]:
import pandas as pd

df = pd.DataFrame({
    "집계구코드": col2,
    "1인가구코드": col3,
    "인원수": col4,
    })
mean = round(df['인원수'].mean())
df['인원수'].fillna(mean)

df

               집계구코드     1인가구코드   인원수
0      1101053010001  ga_sd_005  50.0
1      1101053020001  ga_sd_005  82.0
2      1101053020002  ga_sd_005  64.0
3      1101053020003  ga_sd_005  74.0
4      1101053020004  ga_sd_005  76.0
...              ...        ...   ...
18520  1125074022801  ga_sd_005  79.0
18521  1125074023001  ga_sd_005  13.0
18522  1125074023002  ga_sd_005  15.0
18523  1125074023003  ga_sd_005  63.0
18524  1125074023004  ga_sd_005  34.0

[18525 rows x 3 columns]

In [35]:
f = open('/content/drive/MyDrive/2019년_1인가구.txt', 'w')
f.write("base_year^tot_oa_cd^item^value\n")


for i in range(len(df)) :
  string = '2019' + '^' + str(df.iloc[i,0]) + '^' + '_' +  '^' + str(df.iloc[i,2]) + "\n"
  f.write(string)

f.close()